*{
    margin:0;
    padding:0;
  }
  :root{
    --darkPink:linear-gradient(135deg, #850c62, #f80759);
    --pinkishRed:#f80759;
    --white:#fff;
    --lightGray:#969292;
    --gradientPink:#ab1dcf, #f80759;
    --lightBlue: #DEF2F1;
    
  
  }
  /* Starting point for Registration & Login Styles */
  .main-wrapper{
    background: var(--darkPink);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .app-wrapper{
    background-color:var(--white);
    min-width: 350px;
    min-height: 400px;
    padding:50px;
    box-sizing: border-box;
    border-radius: 5px;
   
  }
  .title{
    color:var(--pinkishRed);
    text-align: center;
    margin:40px 0px 40px 0px;
  
  }
  .email,
  .password{
    margin:20px;
    color:var(--lightGray);
    font-size:16px;
  
  }
  /* .verifyPassword{
    margin:20px;
    color:#969292;
    font-size:16px;
  
  } */
  .password{
    margin-bottom: 20px;
  }
  .input{
    height: 32px;
    font-size:20px;
    outline:none;
    width: 100%;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    border-bottom-style:2px solid black;
    margin-bottom: 10px;
  }
  .error{
    color:red;
  
  }
  .submit{
    display: flex;
    text-transform: uppercase;
    font-size:20px;
    border-radius: 25px;
    color:var(--white);
    padding:10px 60px;
    background: linear-gradient(to right,var(--gradientPink));
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px, 
                  rgba(0,0,0,0.22) 0px, 15px, 12px;
    margin:auto;
    outline:none;
    border:none;
    cursor:pointer;
    transition:all 0.1s;
  }
  button:active{
    transform: translateY(2px);
  }
  /* .form-success{
    display: flex;;
    justify-content: center;
    margin-top:250px;
    min-width: 370px;
    color:#f80759;
  } */
  .clickHere{
   text-align: center;
   justify-content: center;
   padding-left: 35px;
  
   
    
  }
  /* Ending point for Registration & Login Styles */
  
  
  /* Styles for navbar */
  .nav-border{
    background: var(--lightBlue);
    color:black;
    height: 70px;
    width: 100%;
  }
  .navbar-logo{
    width: 50px;
    height: 50px;
    margin:0;
    padding:0;
  }
  .navbar-text{
    font-family:'Permanent Marker', cursive;
    color:black !important;
  }
  .dropdown-item{
    font-size:small;
  }
  
  
  /* .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  